extends layout

block cabecal
  link(rel='stylesheet', href='css/pessoa.css')
  script(src='js/mask.js')
  script(src='js/pessoa.js')
  title Pessoa - #{empresa}

block content
  div(ng-controller='Soteriasoft.Control as ctrl', ng-app='Soteriasoft')

    md-card
      md-card-title
        md-card-title-text
          span.md-headline Cadastro de Pessoa
          //span.md-subhead ...... .... ....
      md-card-content

        md-tabs(md-dynamic-height='', md-border-bottom='')
          md-tab(label='Informações básicas')
            md-content

              div(layout-gt-sm='row')
                md-input-container 

                  md-radio-group(layout='row', ng-model='tipo')
                    md-radio-button.md-primary(value=1) Física
                    md-radio-button.md-primary(value=2) Jurídica 
                  
                md-input-container.md-block(flex-gt-sm='')
                  label Nome
                  input(ng-model='nome')

              div(layout-gt-sm='row')
                md-input-container
                  label CEP
                  input(ng-model='cep', ui-cep, ng-change='BuscarCEP()')
                md-autocomplete(flex='',
                  md-selected-item='estado',
                  md-min-length='1', 
                  md-search-text='SearchEst', 
                  md-items='item in EstadoNome(SearchEst)',
                  md-floating-label='Estado',
                  md-item-text='item.nome')
                  md-item-template
                    span(md-highlight-text='SearchEst') {{item.nome}}
                    
                md-autocomplete(flex='',
                  md-selected-item='cidade',
                  md-min-length='3', 
                  md-search-text='SearchCid', 
                  md-items='item in CidadeEstadoNome(SearchCid)',
                  md-floating-label='Cidade',
                  md-item-text='item.nome')
                  md-item-template
                    span(md-highlight-text='SearchCid') {{item.nome}}
              
              div(layout-gt-sm='row')
                md-autocomplete(flex='',
                  md-selected-item='bairro',
                  md-min-length='3', 
                  md-search-text='SearchBai', 
                  md-items='item in BairroCidadeNome(SearchBai)',
                  md-floating-label='Bairro',
                  md-item-text='item.nome')
                  md-item-template
                    span(md-highlight-text='SearchBai') {{item.nome}}

                md-autocomplete(flex='',
                  md-selected-item='endereco',
                  md-min-length='3', 
                  md-search-text='SearchEnd', 
                  md-items='item in EnderecoCidadeNome(SearchEnd)',
                  md-floating-label='Endereço',
                  md-item-text='item.nome')
                  md-item-template
                    span(md-highlight-text='SearchEnd') {{item.nome}}

                md-input-container
                  label Número
                  input(ng-model='numero', type='text')

                md-input-container(flex='')
                  label Complemento
                  input(ng-model='complemento', type='text')

              div(layout-gt-sm='row')
                md-input-container(flex='')
                  label E-mails
                  div(layout='row')
                    div
                      input(ng-model='email', type='email')
                    div
                      md-button.md-icon-button.launch(ng-click='addEmail()', 
                      title="Adicionar E-mail", target="_blank")
                        md-icon(md-svg-icon="img/email-add.svg")

                      //md-button.md-raised.md-primary(ng-click='addEmail()') Adicionar
                  md-chips(ng-model="emails", readonly='true', md-removable='true')
                
                md-input-container(flex='')
                  label Telefones
                  div(layout='row')
                    div
                      input(ng-model='fone', ui-telefone)
                    div
                      md-button.md-icon-button.launch(ng-click='addFone()', 
                      title="Adicionar Telefone", target="_blank")
                        md-icon(md-svg-icon="img/fone-add.svg")
                        
                      //md-button.md-raised.md-primary(ng-click='addFone()') Adicionar
                  md-chips(ng-model="fones", readonly='true', md-removable='true')

          md-tab(label='Dados pessoa física', ng-disabled='tipo!=1')
            md-content
              div(layout-gt-sm='row')
                md-input-container
                  md-radio-group(layout='row', ng-model='sexo')
                    md-radio-button.md-primary(value='2') Masculino
                    md-radio-button.md-primary(value='1') Feminino 

                md-input-container
                  label Data Nasc.
                  md-datepicker(md-hide-icons="calendar", ng-model='nascimento')
                  
                md-autocomplete(flex='',
                  md-selected-item='ufnasc',
                  md-min-length='1', 
                  md-search-text='SearchUFN', 
                  md-items='item in EstadoNome(SearchUFN)',
                  md-floating-label='Estado de Nascimento',
                  md-item-text='item.nome')
                  md-item-template
                    span(md-highlight-text='SearchUFN') {{item.nome}}
                    
                md-autocomplete(flex='',
                  md-selected-item='cidadenasc',
                  md-min-length='3', 
                  md-search-text='SearchCNa', 
                  md-items='item in CidadeNome(SearchCNa)',
                  md-floating-label='Cidade de Nascimento',
                  md-item-text='item.nome')
                  md-item-template
                    span(md-highlight-text='SearchCNa') {{item.nome}}

              div(layout-gt-sm='row')
                md-autocomplete(flex='',
                  md-selected-item='nacionalidade',
                  md-min-length='1', 
                  md-search-text='SearchNac', 
                  md-items='item in NacionalidadePais(SearchNac)',
                  md-floating-label='Nacionalidade',
                  md-item-text='item.pais')
                  md-item-template
                    span(md-highlight-text='SearchNac') {{item.pais}}
                  
                md-input-container.md-block(flex-gt-sm='')
                  label CPF
                  input(ng-model='cpf', ui-mask="999.999.999-99")

              div(layout-gt-sm='row')
                md-input-container.md-block(flex-gt-sm='')
                  label Identidade
                  input(ng-model='identidade')

                md-input-container.md-block(flex-gt-sm='')
                  label Orgão emissor Identidade
                  input(ng-model='orgaoidentidade')
                
                md-autocomplete(flex='',
                  md-selected-item='ufidentidade',
                  md-min-length='1', 
                  md-search-text='SearchUFI', 
                  md-items='item in EstadoNome(SearchUFI)',
                  md-floating-label='Estado de Identidade',
                  md-item-text='item.nome')
                  md-item-template
                    span(md-highlight-text='SearchUFI') {{item.nome}}

              div(layout-gt-sm='row')
                md-autocomplete(flex='',
                  md-selected-item='estadocivil',
                  md-min-length='1', 
                  md-search-text='SearchCiv', 
                  md-items='item in EstadoCivilDescricao(SearchCiv)',
                  md-floating-label='Estado Civil',
                  md-item-text='item.descricao')
                  md-item-template
                    span(md-highlight-text='SearchCiv') {{item.descricao}}

                md-autocomplete(flex='',
                  md-selected-item='conjuge',
                  md-min-length='3', 
                  md-search-text='SearchCon', 
                  md-items='item in PessoaNome(SearchCon)',
                  md-floating-label='Conjuge',
                  md-item-text='item.nome')
                  md-item-template
                    span(md-highlight-text='SearchCon') {{item.nome}}

              div(layout-gt-sm='row')
                md-autocomplete(flex='',
                  md-selected-item='profissao',
                  md-min-length='2', 
                  md-search-text='SearchPro', 
                  md-items='item in CBODescricao(SearchPro)',
                  md-floating-label='Profissão',
                  md-item-text='item.descricao')
                  md-item-template
                    span(md-highlight-text='SearchPro') {{item.descricao}}
                
                md-input-container.md-block(flex-gt-sm='')
                  label Nº Carteira trabalho
                  input(ng-model='ctps')

                md-input-container.md-block(flex-gt-sm='')
                  label Nº Pis
                  input(ng-model='pis')

          md-tab(label='Dados pessoa jurídica', ng-disabled='tipo!=2')
            md-content
              div(layout-gt-sm='row')                 
                md-input-container.md-block(flex-gt-sm='')
                  label Razão Social
                  input(ng-model='razaosocial')

              div(layout-gt-sm='row')                 
                md-input-container.md-block(flex-gt-sm='')
                  label CNPJ
                  input(ng-model='cnpj', ui-mask="99.999.999/9999-99")
                
                md-input-container.md-block(flex-gt-sm='')
                  label Inscrição Estadual
                  input(ng-model='incricaoestadual')

                md-autocomplete(flex='',
                  md-selected-item='atividade',
                  md-min-length='2', 
                  md-search-text='SearchAti', 
                  md-items='item in AtividadeEconomicaDescricao(SearchAti)',
                  md-floating-label='Atividade Economica',
                  md-item-text='item.descricao')
                  md-item-template
                    span(md-highlight-text='SearchAti') {{item.descricao}}

              div(layout-gt-sm='row')                 
                md-input-container.md-block(flex-gt-sm='')
                  label Home Page
                  input(ng-model='homepage')
                  
                md-autocomplete(flex='',
                  md-selected-item='representante',
                  md-min-length='3', 
                  md-search-text='SearcrRep', 
                  md-items='item in PessoaNome(SearcrRep)',
                  md-floating-label='Representante Legal',
                  md-item-text='item.nome')
                  md-item-template
                    span(md-highlight-text='SearcrRep') {{item.nome}}

        div(layout-gt-sm='row', layout-align='start', flex='')
          md-button.md-raised(ng-click='Limpar()') Novo
          md-button.md-raised.md-primary(ng-click='Gravar()',
          ng-disabled='nome==undefined || tipo==undefined') Gravar
          md-button.md-raised.md-warn.md-hue-1(ng-click='Apagar()',
          ng-disabled='codigo==undefined || codigo==0') Apagar
          md-button.md-raised.md-primary.md-hue-3(ng-click='Localizar()') Localizar