extends layout

block cabecal
  link(rel='stylesheet', href='css/usuario.css')
  script(src='js/usuario.js')
  title Usuário - #{empresa}

block content
  md-content(ng-controller='Soteriasoft.Control as ctrl', ng-app='Soteriasoft')
    md-card
      md-card-title
        md-card-title-text
          span.md-headline Cadastro de Usuários
          //span.md-subhead ...... .... ....
      md-card-content
        br
        div(layout-gt-sm='row')
          md-input-container(flex='')
            label Usuário
            input(ng-model='usuario', type='text', ng-required='true')

        div(layout-gt-sm='row')
          md-input-container(flex='')
            label Senha
            input(ng-model='senha', type='password', ng-required='true')
            
        div(layout-gt-sm='row')
          md-input-container(flex='')
            label Confirmar Senha
            input(ng-model='csenha', type='password', ng-required='true', compare-to="senha")
            
        div(flex="")
          md-input-container 
            md-radio-group(layout-gt-sm='row', ng-model='tipo')
              md-radio-button.md-primary(value=2) Operacional 
              md-radio-button.md-primary(value=1) Administrador

        br
        div(layout="row", layout-sm="column", flex="")
          md-autocomplete(flex='',
            md-selected-item='pessoa',
            md-min-length='3', 
            md-search-text='SearchPes', 
            md-items='item in PessoaNome(SearchPes)',
            md-floating-label='Pessoa',
            md-item-text='item.nome')
            md-item-template
              span(md-highlight-text='SearchPes') {{item.nome}}

          md-button.md-icon-button.launch(href="pessoa?codigo={{proprietario.codigo}}", style='margin-top: -5px',
          title="Abrir cadastro de pessoas", target="_blank", aria-label="Google.com")
            md-icon(md-svg-icon="img/people.svg")

        div(layout-gt-sm='row', layout-align='start', flex='')
          md-button.md-raised(ng-click='Limpar(true)') Novo
          md-button.md-raised.md-primary(ng-click='Gravar()',
          ng-disabled='senha!=csenha || usuario==undefined || senha==undefined || csenha==undefined') Gravar
          md-button.md-raised.md-warn.md-hue-1(ng-click='Apagar()',
          ng-disabled='codigo==0 || codigo==undefined') Apagar
          md-button.md-raised.md-primary.md-hue-3(ng-click='Localizar()') Localizar